nav{
    
    display: flex;
    justify-content: center;
    gap: 7em;
    font-size: 1.3em;
    color: white;
    font-family: cursive;
    width: 100%;
}
.page{
    display: flex;
    max-width: 100%;

    background-size: cover;
    justify-content: center;
}